<section class="container-fluid" id="aboutUs">
	<section class="up-servicios">
		<div class="img-doctor">
			<img alt="" src="./assets/doctor.png">
		</div>
		<div class="int-qs">
			<h2>QUIENES SOMOS</h2>
			<p>
				La clínica Prosmile tiene más de 20 años como clínica odontológica sirviendo al Ecuador. Creada por el Dr. Eduardo Flores con la visión de fundar la primera clínica odontológica del país con todas las especialidades, la mejor tecnología y los más calificados profesionales.
				<br/><br/>
				El Doctor Eduardo Flores tiene más de 40 años de experiencia profesional dentro de la industria odontológica. Durante su carrera ha trabajado activamente como especialista en rehabilitación oral y además ha alcanzado los más altos reconocimientos en la educación superior. Tiene un PHD en Sociedad del Conocimiento y Acción en Ámbitos de Educación por la Universidad Internacional de la Rioja – España (2018). Magister en Docencia Universitaria y Administración Educativa por la Universidad
				<br/><br/>
				Indoamericana (2004). Diplomado en Rehabilitación Oral por la Federación Odontológica Ecuatoriana (1999). Doctor en Odontología por la Universidad Central del Ecuador (1977). Ha sido docente para distintas universidades del país. Adicionalmente es ex Decano de la Facultad de Odontología de la Universidad Central por dos oportunidades. Actualmente, es Subdirector del Servicio de Odontología en el Hospital Metropolitano y Decano de la Facultad de Odontología de la Universidad de las Américas.
			</p>
			<button id="button-go"><img alt="" src="./assets/ico_edificio.svg"><span>Instalaciones</span></button>
		</div>
	</section>

	<section class="container-fluid" id="galeria-instalaciones">
		<button class="btn-regresar" id="regresargaleria"><img src="./assets/btn-cita.svg" alt=""></button>
		<div class="cont-instalaciones">
			<div class="cont-title">
				<h1>NUESTRAS INSTALACIONES</h1>
				<!-- -->
				<div class="slider-galeria">
				  <div><img src="./assets/instalaciones/1.jpg" alt=""></div>
					<div><img src="./assets/instalaciones/2.jpg" alt=""></div>
					<div><img src="./assets/instalaciones/5.jpg" alt=""></div>
					<div><img src="./assets/instalaciones/3.jpg" alt=""></div>
				</div>
				<!-- -->
			</div>
		</div>
	</section>
</section>
