#date-page {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2000;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .btn-regresar {
      position: absolute;
        width: 160px;
        background: #a2c03c;
        padding: 6px 10px;
        border: none;
        top: 0;
        left: 0;
        z-index: 1500;
        padding: 7px 15px;
  }
  #section-form {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    z-index: 1000;
    .padding-cita{
      overflow-x: hidden;
    }
    .cont-title {
      width: 50%;
      margin: 8% 25% 3px 25%;
      h1 {
          font-size: 3em;
          text-align: center;
          line-height: 40px;
          margin: 0 0 1px 0;
          padding: 0 0 1px 0;
          color: #333d46;
          border-bottom: 3px solid #fff;
          padding-bottom: 10px;
          float: left;
          width: 100%;
          border-bottom: 2px solid #75cee7;
      }
      .intro-a {
          width: 100%;
          padding: 7px 0;
          float: left;
          clear: both;
          border-radius: 0 20px 20px 0;
          text-align: center;
          font-size: .9em;
      }
    }
    #txt-date {
        width: 80%;
        float: left;
        padding: 10px 0 0 0;
        margin: 1% 10% 0 10%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        .txt-c {
            font-weight: 500;
            text-align: right;
            font-size: .8em;
            border-right: 1px solid #fff;
            background: rgba(117,206,231,.5);
            padding: 10px 1%;
        }
       .number-c {
          font-weight: 600;
          font-size: 2em;
          text-align: center;
          background: rgba(162,192,59,.5);
          padding: 10px 3%;
      }
    }
    .cont-form{
        width: 80%;
        margin: 1% 10%;
        float: left;
        h2{
          text-align: center;
          width: 100%;
          float: left;
          padding: 15px 0;
        }
        .col-sm-6{
          float: left;
          padding-left: 1px!important;
          padding-right: 1px!important;
        }
        input, select, textarea {
          border: none;
          background: rgba(51,61,70,.5) !important;
          padding: 7px 3px;
          color: #fff;
          margin-bottom: 10px;
        }
        input[type="date"]::-webkit-calendar-picker-indicator{
            display:inline-block;
            margin-top:2%;
            float:right;
            //width: 65%;
            width: 10px;
            opacity: 1;
            padding-left: 65%;
            background: transparent;
        }
        input[type="date"]::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0;
        }
        textarea{
          height: 180px;
        }
        button{
          width: 200px;
          background: #229fda;
          padding: 7px 10px;
          border: none;
          text-align: center;
          border-radius: 5px;
          margin: 20px 0 0 0;
          float: right;
          color: #fff;
          font-weight: 600;
          img {
              width: 22px;
              display: inline-block;
          }
          span {
              font-family: PT Sans Narrow,sans-serif;
              display: inline-block;
              padding: 5px 0 0 8px;
          }
        }
     }
  }
  #back-lines1 {
    width: 15%;
    position: fixed;
    top: 25%;
    left: 0;
    z-index: 0;
  }
  #back-lines2 {
    width: 35%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 0;
  }
}

@media screen and (max-width: 1280px){
  #date-page {
    #txt-date {
       .number-c {
          font-size: 1em;
      }
    }
  }
}
@media screen and (max-width: 700px){
  #date-page {
    #section-form {
      z-index: 1000;
      .cont-title {
        width: 80%;
        margin: 20% 10% 3px 10%;
      }
    }
  }
}
@media screen and (max-width:480px){
  #date-page {
      display: block;
      float: left;
      #section-form{
        .container{
          padding-left: 1px !important;
          padding-right: 1px !important;
        }
        .cont-title {
          width: 98% !important;
          margin: 10px 1% !important;
        }
      }
      #txt-date {
          width: 100% !important;
          float: left;
          padding: 10px 0 0 0;
          margin: 1% 0 !important;
          display: block !important;
      }
      .cont-form{
          width: 100% !important;
          margin: 1% 0 !important;
          float: left;
      }
    }
}
