<section id="date-page">
	<button class="btn-regresar" (click)="goHome()"><img  src="./assets/btn-cita.svg" alt=""></button>
	<img  id="logo-internac" src="./assets/ico-prosmile.svg">
	<div class="container-fluid" id="section-form">
		<div class="container padding-cita animated fadeInRight" >
			<div class="cont-title">
				<h1>AGENDA TU CITA</h1>
				<div class="intro-a">
					En esta sección podrás agendar directamente una cita para tu primera consulta con la clínica ProSmile. Incluye tus datos de contacto y selecciona el mejor día para ti. En caso que prefieras comunicarte directamente con una de nuestras sucursales llámanos a cualquiera de nuestros teléfonos en la sección de Contáctanos
				</div>
			</div>
			<div class="col-xs-12" id="txt-date">
				<div class="col-md-7 txt-c">Las citas de pueden solicitar a una semana a partir de hoy. En caso de emergencia, por favor contactarnos directamente a nuestros teléfonos en la sección Contáctanos.</div>
				<div class="col-md-5 number-c">(593-2) 322 0300</div>
			</div>
			<!---->
      <div class="cont-form" *ngIf="dateReserved">
				<form (ngSubmit)="sendEmailInformation()">
					<input class="form-control" type="text" [(ngModel)]='formUser.name' name="name" placeholder="Nombre" required>
					<div class="col-sm-6"><input class="form-control" type="email" [(ngModel)]='formUser.email' name="email" placeholder="E-mail" required></div>
					<div class="col-sm-6"><input class="form-control" type="text" [(ngModel)]='formUser.phone' name="phone" placeholder="Teléfono" required></div>
					<div class="col-sm-6"><input class="form-control" id="inputDate" type="date" [(ngModel)]='formUser.date' name="date" placeholder="Fecha" required></div>
					<div class="col-sm-6">
						<select class="form-control" [(ngModel)]='formUser.time' name="time">
							<option *ngFor="let horario of horarios" [ngValue]="horario.name">
					        {{ horario.name }}
					    </option>
						</select>
					</div>
					<textarea class="form-control" [(ngModel)]='formUser.message' name="message"></textarea>
					<button type="submit"><img alt="" src="./assets/ico-reserva.svg"><span>Agenta tu cita</span></button>
				</form>
			</div>
			<div class="cont-form" *ngIf="!dateReserved">
				<h2>TU CITA HA SIDO AGENDADA EXITOSAMENTE</h2>
				<button (click)="goHome()">volver al home</button>
			</div>
			<!---->
		</div>
	</div>
	<div id="back-lines1"><img alt="" src="./assets/back_lines3.svg"></div>
	<div id="back-lines2"><img alt="" src="./assets/back_lines4.svg"></div>
</section>
