<header  id="header-prosmile">
	<img  src="./assets/ico-prosmile.svg" alt="Prosmile" id="logoprosmile" >
	<div  id="cont-menu">
		<a  id="prosmile-mb"><span></span></a>
		<a  class="ico-menu language" href="#">
      <img  alt="" src="./assets/esp.svg"></a>
		<a  class="ico-menu language" href="#">
      <img  alt="" src="./assets/eng.svg">
    </a>
		<a class="ico-menu" href="#" id="btn-facebook">
      <img  alt="" src="./assets/ico_facebook.svg">
    </a>
		<span id="llamanos-c">Llámanos: (593-2)  322 0300</span>
	</div>
	<ul id="ul-menu">
		<li id="btn-1">Home</li>
		<li id="btn-2">Servicios y Tratamientos</li>
		<li id="btn-3">Quiénes Somos</li>
		<li id="btn-4">Nuestros Especialistas</li>
		<li id="btn-5">Contacto</li>
	</ul>
</header>
<div id="home">
	<div  id="section-cita">
		<div id="img-home">
			<img alt="" src="./assets/home.png">
			<div class="cont-name-doctors">
				<div id="name-doctora" class="name-docs">Dra. María Elena Flores</div>
				<div id="name-doctor" class="name-docs">Dr. Eduardo Flores</div>
			</div>
		</div>
		<div class="int-cita animated fadeInRight">
			<h1>¡Cambiando vidas, una sonrisa a la vez!</h1>
			<p>
			ProSmile tiene más de 20 años como clínica odontológica sirviendo al Ecuador.<br/>
			Creada por el Dr. Eduardo Flores con la visión de fundar la primera clínica odontológica del país con todas las especialidades, la mejor tecnología y los más calificados profesionales.
			</p>
			<button routerlink="./cita"><img  alt="" src="./assets/ico-reserva.svg"><span>Reserva tu cita</span></button>
		</div>
	</div>
	<div id="lines1"><img alt="" src="./assets/lines1.svg"></div>
	<div id="lines2"><img alt="" src="./assets/lines2.svg"></div>
</div>
<app-tratamientos id="tratamientoss"></app-tratamientos>
<app-about id="quieness"></app-about>
<app-specialist id="especialistass"></app-specialist>
<app-contact id="contactos"></app-contact>
<div id="btn_date" (click)="goCita()"><img  alt="" src="./assets/btn-agenda.svg"></div>
<div id="btn_exam" (click)="goDiagnostico()"><img alt="" src="./assets/btn-exam.svg"></div>
